<div id="resetPassword">
<div class="card">
   <h5 class="card-header card text-center">Reset Password</h5>
   <div class="card-body">
   <form  (ngSubmit)='onSubmit(resetPassword.value)' #resetPassword ="ngForm">
    <div class="form-group row">
           <label for="email" class="col-sm-3 col-form-label col-form-label-sm">Email ID:</label>
       <div class="col-sm-9">
           <input type="email"class="form-control" name="email" [(ngModel)]="email" #emailVar="ngModel" requried />
           <span class="error" *ngIf="emailVar.invalid && emailVar.touched">Email  is required</span>
        
       </div>
    </div>
    <div class="form-group row">
       <label for="mobile" class="col-sm-3 col-form-label col-form-label-sm">Moblie Number:</label>
       <div class="col-sm-9">
         <input type="text" class="form-control" name="mobile"  [(ngModel)]="mobile" #mobileVar="ngModel" requried/>
         <span class="error" *ngIf="(mobileVar.invalid &&  mobileVar.touched)">Moblie number is required</span>
       </div>
    </div>
    <div class="form-group row">
           <label for="password" class="col-sm-3 col-form-label col-form-label-sm">Password:</label>
       <div class="col-sm-9">
           <input type="password"  class="form-control" name="password" minlength="6"  #passwordVar="ngModel" [(ngModel)]="password" requried/>
       </div>
    </div>
    <div class="form-group row">
      <label for="confirmPassword" class="col-sm-3 col-form-label col-form-label-sm">Confirm Password:</label>
      <div class="col-sm-9">
         <input type="password" name="confirmPassword" class="form-control" [(ngModel)]="confirmPassword" requried/>
     </div>
    </div>
     <button class="btn btn-primary" [disabled]="!resetPassword.valid">Submit</button>
   </form>
   </div>
 </div>
</div>

<!-- <div class="card">
   <h5 class="card-header card text-center">Reset Password</h5>
  <form  [formGroup]="resetPasswordForm">
     <div class="form-control row">
       <label for="email" class="col-sm-3 col-form-label col-form-label-sm">Email ID:</label>
       <div class="col-sm-9">
            <input [formControl]="email" type="email" name="email" class="form-input" id="email">
            <span class="error" *ngIf="(email.dirty || email.touched) && email.errors?.required"> Email is required</span>
       </div>
    </div>
     <div class="form-control row">
      <div class="col-sm-9">
       <label for="moblieNumber" class="col-sm-3 col-form-label col-form-label-sm">Mobile Number:</label>
       <input [formControl]="moblieNumber" type="text" name="moblieNumber" id="moblieNumber">
       <span class="error" *ngIf="(moblieNumber.dirty || moblieNumber.touched) && moblieNumber.errors?.required">Moblie Number is required</span>
     </div>
   </div>
     <div class="form-control row">
       <label for="password" class="col-sm-3 col-form-label col-form-label-sm">Password:</label>
       <div class="col-sm-9">
         <input [formControl]="password" type="password" name="password" class="form-input" id="password">
         <span class="error" *ngIf="(password.dirty || password.touched) && password.errors?.required">required</span>
         <span class="error" *ngIf="(password.dirty || password.touched) && password.errors?.pattern">Password is requried</span>
     </div>
   </div>
     <div class="form-control row">
       <label for="confirmPassword" class="col-sm-3 col-form-label col-form-label-sm">Confirm Password:</label>
       <div class="col-sm-9">
            <input [formControl]="confirmPassword" type="password" name="confirmPassword" class="form-input" id="confirmPassword">
            <span class="error" *ngIf="(confirmPassword.dirty || confirmPassword.touched) && confirmPassword.errors?.required">required</span>
       </div>
   </div>
     <div class="form-control">
       <button type="submit" (click)="submitForm()" class="btn btn-submit" [disabled]="!resetPasswordForm.valid"> Submit Form </button>
     </div>
   </form>
 </div>
 
  -->