footer{
    background-color: black;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:80px;
    position: fixed;
    bottom:0;
    width:100%
}
a{
    text-decoration:none;
    color:white;
}
span{
    color:white;
    opacity: 0.5;
}
#footerlinks{
    display: flex;
    justify-content: space-between;
}
#facebook{
    padding-right:30px;

}
#twitter{
    padding-right:10px;
}
#contact{
    padding-left: 10px;
}