<!-- 
<div class="navbar">
    <a routerLink="/signinmodal"><button id ="signbtn">Signin</button></a> 
</div>   -->
 
<div id="signincard">
  <div class="card">
    <h5 class="card-header card text-center">Sign in</h5>
    <div class="card-body">
       <form (ngSubmit)='onSubmit(signinForm.value)' #signinForm ="ngForm">
          <div class="form-group row">
               <label for="email"><strong>Email ID:</strong></label>
               <input type="email" name="email" class="form-control"id="email"  email required [(ngModel)]="email" #emailVar="ngModel" 
               [ngClass]="{'is-invalid':(emailVar.touched || emailVar.dirty) && !emailVar.valid }"/>
               <span class="invalid-feedback">
                  <span *ngIf="emailVar.errors?.required">
                     Email is requried.
                  </span>
                  <span *ngIf="emailVar.errors?.email">
                     please enter a valid email.
                  </span>
               </span>
          </div>
          <div class="form-group row">
             <label for="password"><strong>Password:</strong></label>
             <input type="password" class="form-control" name="password" minlength="6" id="password"[(ngModel)]="password" #passwordVar="ngModel" required
              [ngClass]="{ 'is-invalid':(passwordVar.touched || passwordVar.dirty) && !passwordVar.valid }" />
             <span class="invalid-feedback">
                  <span *ngIf="passwordVar.errors?.required">
                     Please enter password.
                  </span>
                  <span *ngIf="passwordVar.errors?.minlength">
                     Password must be at least 6 characters long.
                  </span>
             </span>
         </div>
          <a href="#"><button class="btn btn-success" [disabled]="!signinForm.valid">Sign in</button></a>
       </form>
     </div>
  </div>
</div>
 <div class="text-center"> <a id="forgotpass" href="#">Forgot Password</a> </div>
<div> <p>Don't have an account ?<a id="signbtn" href="#">Sign up</a></p></div>
       
       
       
