#forgotpass {
    text-decoration: none;
}

#full {
    margin: auto;
    margin-top: 12%;
    width: 40%;
}

p {
    text-align: center;
}

#email {
    margin-left: 12%;
    width: 70%;
}

#password {
    margin-left: 10%;
    width: 70%;
}

.btn {
    float: right;
}

.btn {
    float: right;
}