#signin{
  
   width:50%;
}
#signup{
    width:50%;
    background:darkgrey;
}

#signinbtn{
    float: right;
    color:white;
}
label{
    padding-left: 5%;
}
#forgotpass{
    text-decoration: none;
}
#btnsignin{
    margin-left:30%;
    width:50%;
}
#signincard{
    width:100%;

}
#signbtn{
    padding-left: 2%;
    text-decoration: none;
}
p{
    text-align:center;
}


#resetPasswordCard{
    width: 100%;
}
input{
    width:100%;
    margin-left: 5%;
}
#btnsignup{
    margin-left: 31%;
    width:40%;
}
#btnreset{
    margin-left: 31%;
    width:60%;
}
